*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bannerlayout{
    .container{
        h1{
            letter-spacing: 2px;
            font-size: 55px;

        }
        p{
            line-height: 30px;

        }
    }
}

.itemlayout{
    .container{
        .item-content{
            .img-size{
                background-color: silver;
                width: 100%;
                height: 150px;
                p{
                    text-align: center;
                    line-height: 150px;
                    font-size: 20px;
                    color: #0000004a;

                }
            }
            .card{
                border-radius: 0;
                .card_body{
                    height: 250px;
                    line-height: 30px;
                    
                    p{
                        line-height: 30px;
                        color: #0000009c;
    
                    }   
                    
                }
                .card-bottom{
                    border-top: solid 2px rgb(213, 219, 226);
                }
            }

        }

    }
}
